matplotlib
numpy
pandas

# prevent bq 3+ db-dtypes package error when running training from bq
mlflow~=1.26.1

prefect<2
prefect[viz]
psycopg2-binary

# API
fastapi
pytz
uvicorn
# tests
httpx
pytest-asyncio
